.sttContainer {
	display: none;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 1;
	color: #8a89f6;
	border-radius: 50%;
	cursor: pointer;
	overflow: hidden;
}

.showScrollToTop {
	display: block;
}

.sttContainer .sttIcon {
	height: 100%;
	width: 100%;
}