.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #20bf55;
background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);

}

.main {
	height: 400px;
	width: 350px;
	background-color: rgb(43, 42, 42);
	text-align: center;
	border-radius: 12px;
}

.main span {
	margin: 35px auto;
	color: #7577d5;
	font-size: 24px;
}

span {
  position: relative;
  font-family: "Avenir Next", sans-serif;
  font-weight: 900;
  font-size: 64px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.05em;
  display: inline-block;
}

span:before {
  position: absolute;
  left: 0;
  top: 0;
  content: attr(filter-content);

  filter: url(#motion-blur-filter);
}

/* We hide the SVG filter element from the DOM as it would take up some space */

svg {
  display: none;
}