a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

.gradientText {
	text-transform: uppercase;
	background: linear-gradient(to right, #e22838 0%, #30CFD0 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.navContainer {
	display: flex;
	padding: 15px;
	align-items: center;
	width: 100%;
	height: 26px;
	background-color: #191a1f;
}

.navContainer a {
  color: #9ca3af;
}

.navLogo {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
}

.navLogoIcon {
	width: 40px;
	height: 40px;
}

.navText {
  font-weight: bold;
  font-size: 32px;
}

.navMain {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 50%;
	padding: 15px;
  margin: 0 20px;
  font-size: 20px;
  font-weight: 600;
}

.navLink {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.navIcon {
  font-size: 30px;
}

.navMain span, .navUser span {
  display: inline-block;
  height: 100%;
  margin-left: 5px;
}

.navUser {
  margin: 0 20px;
  margin-left: auto;
  font-size: 20px;
  font-weight: 600;
}