.movieMain {
	width: 100%;
	height: 1200px;
	margin-top: 64px;
}

.movieSection {
	display: flex;
	width: 90%;
	height: 538px;
	background-color: #343641;
	margin: 16px auto;
}

.videoSection {
	width: 72%;
	height: 90%;
	margin: auto 0;
	background-color: #606477;
}

.relativeSection {
	width: 30%;
	height: 100%;
	background-color: #6372b9;
	padding: 26px;
	padding-left: 32px;
}

.inSeriesSection {
	width: 100%;
	background-color: #4b5170;
	height: 50%;
	overflow: auto;
}

.relativeSeriesSection {
	width: 100%;
	background-color: #444444;
	height: 50%;
	overflow: auto;
}