.cateName {
	margin-right: 24px;
	cursor: pointer;
  position: relative;
}

.cateActive::after {
	content: ' ';
	width: 32px;
	height: 4px;
	border-radius: 4px;
  background-color: #9e8fb2;
  background-image: linear-gradient(315deg, #9e8fb2 0%, #a7acd9 74%);
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}