.expContainer {
	display: flex;
	justify-content: center;
}

.expMain {
	width: 90%;
	/* background-color: #474747; */
	height: 1500px;
	margin-top: 72px;
}

.expMainCategory {
	display: flex;
  height: 32px;
	font-weight: 600;
	font-size: 16px;
	line-height: 120%;
	letter-spacing: 0.2px;
}

.cateName {
	margin-right: 24px;
	cursor: pointer;
  position: relative;
}

.cateActive::after {
	content: ' ';
	width: 32px;
	height: 4px;
	border-radius: 4px;
  background-color: #9e8fb2;
  background-image: linear-gradient(315deg, #9e8fb2 0%, #a7acd9 74%);
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.expDetailsCategory {
	display: flex;
	margin: 12px 0;
	font-size: 15px;
}

.expInfScrollContent {
	display: flex;
	flex-wrap: wrap;
}

.expInfScrollContent a {
	width: 15%;
	margin: auto;
}

.contentContainer {
	transition: 0.05s;
}

.contentContainer:hover {
	color: #8a8ef6;
}

.contentImg {
	display: inline-block;
}

.contentImg img {
	max-width: 100%;
  height: auto;
	border-radius: 8px;
}

.contentTitle {
	margin-top: 4px;
}

.contentTitle span {
	font-size: 16px;
	line-height: 120%;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}