.expContainer {
display: flex;
justify-content: center;
}

.expMain {
  width: 90%;
  background-color: #474747;
  height: 1500px;
  margin-top: 72px;
}

.expMainCategory {
  display: flex;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.4px;
}

.cateName {
  margin-right: 24px;
  cursor: pointer;
}

.isCateActive {

}