.disContainer {
	width: 60%;
	margin: 60px auto;
}

.postContainer {
	display: flex;
	width: 90%;
	margin: 40px auto;
}

.postImageSection {
	width: 10%;
	height: 100%;
}

.postContentSection {
	width: 80%;
	height: 100%;
	padding: 12px;
}

.postUpImage {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	object-fit: cover;
}

.postUpName {
	font-size: 20px;
	line-height: 120%;
	color: #f5f5f5;
	font-weight: 600;
}

.postCaption {
	margin: 12px 0px;
}

.postReact {
	width: 10%;
	background-color: #555;
}

.postVideoContainer {
	height: 0;
	position: relative;
	padding-bottom: 100%;
}

.postVideo {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}

.postLikeCount {
	width: 100%;
	height: 100px;
	background-color: #999;
}

.reactContainer {
	margin: auto 0px;
}

.postWatchNow {
	width: 100%;
	height: 100px;
	background-color: #888;
}

.postHeartIcon {
	width: 50px;
	height: 50px;
	padding: 8px;
	border-radius: 50%;
	color: red;
	font-size: 28px;
	border: #888 1px solid;
}

.postOpenIcon {

}